@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

#game-board img {
    width: 200px;
    height: 200px;
    margin-right: 8px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

#game-board {
    text-align: center;
}

body {
    background-image: url(../img/background.jpg);
}

#elapsedSeconds {
    color: yellow;
    font-size: 30px;
}

#matches {
    color: yellow;
    font-size: 30px;
}

#remaining {
    color: yellow;
    font-size: 30px;
}

#mistakes {
    color: yellow;
    font-size: 30px;
}

h1 {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    color: orange;
    font-size: 50px;
}

#startButtonHolder {
    text-align: center;
}

#startButton {
    font-size: 30px;
    color: blue;
    font-family: 'Open Sans', sans-serif;
}

#resetButtonHolder {
    text-align: center;
}

#resetButton {
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 30px;
}

#info {
    margin-bottom: 20px;
    text-align: center;
}

#info p {
    display:inline;
    margin-right: 80px;
}
