
#game-board img {
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

#game-board {
    text-align: center;
}

body {
    background-image: url(../img/background.jpg);
}

#elapsedSeconds {
    color: yellow;
    font-size: 30px;
}

#matches {
    color: yellow;
    font-size: 30px;
}

#remaining {
    color: yellow;
    font-size: 30px;
}

#mistakes {
    color: yellow;
    font-size: 30px;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
}

#startButtonHolder {
    text-align: center;
}

#startButton {
    font-size: 30px;
    color: blue;
}

#resetButtonHolder {
    text-align: center;
}

#resetButton {
    margin-top: 50px;
    color: red;
    font-size: 30px;
}
#info {
    margin-bottom: 20px;
    text-align: center;
}

#info p {
    display:inline;
    margin-right: 80px;
    /*margin-right: 100px;*/

}